//link host ://
//https://rawcdn.githack.com/deddme/css/541848f2fa5fcfd298bc90a046f3f23961a7f5c1/css_flexbox.css//

.display1{
 display: flex;
 background: aliceblue;
 padding: 10px;

}
.box1{
  height: 50px;
  width: 50px;
  margin: 5px;
  outline: solid 1px ;
 
}
.box2{
  height: 50px;
  width: 50px;
  margin: auto;
  outline: solid 1px gray;
  padding: 5px;
  text-align: center;
}

.box3{
  height: 100%;
  width: 100%;
  margin: 1px;
  outline: solid 1px gray;
  padding: 5px;
  text-align: center;
}

.box4{
  height: 100%;
  width: 500%;
  margin: 1px;
  outline: solid 1px gray;
  padding: 5px;
  text-align: center;
  
}
.box5{
  height: auto;
  width: 500%;
  margin: 1px;
  outline: solid 1px gray;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
